/* provides the mixins
------------------------------- */
/* variables
------------------------------- */
/* helpers
------------------------------- */
.section-fields, .section-fields .control-group {
  *zoom: 1;
}
.section-fields:before, .section-fields .control-group:before, .section-fields:after, .section-fields .control-group:after {
  content: "";
  display: table;
}
.section-fields:after, .section-fields .control-group:after {
  clear: both;
}

/* Main styles
------------------------------- */
.nav-tabs {
  position: relative;
  bottom: -1px;
}
.nav-tabs li {
  position: relative;
  float: left;
  padding: 7px 15px;
  padding-right: 27px;
  font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #ececec));
  background-image: -webkit-linear-gradient(center top, #f9f9f9, #ececec);
  background-image: -moz-linear-gradient(center top, #f9f9f9, #ececec);
  background-image: -o-linear-gradient(center top, #f9f9f9, #ececec);
  background-image: linear-gradient(center top, #f9f9f9, #ececec);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #DFDFDF;
  font-size: 15px;
  margin: 0 0 0 2px;
}
.nav-tabs li.ui-state-active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #f5f5f5));
  background-image: -webkit-linear-gradient(center top, #f9f9f9, #f5f5f5);
  background-image: -moz-linear-gradient(center top, #f9f9f9, #f5f5f5);
  background-image: -o-linear-gradient(center top, #f9f9f9, #f5f5f5);
  background-image: linear-gradient(center top, #f9f9f9, #f5f5f5);
  border-color: #DFDFDF #DFDFDF #F5F5F5 #DFDFDF;
}
.nav-tabs li:first-child {
  margin-left: 10px;
}
.nav-tabs li:last-child {
  padding: 7px 15px;
}
.nav-tabs a {
  display: block;
  color: #464646;
  text-decoration: none;
}
.nav-tabs .close {
  cursor: pointer;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 2px;
  right: 2px;
  font-family: Helvetica, Arial, Verdana;
  color: #8f8f8f;
  font-size: 13px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  padding: 4px;
  line-height: 6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.nav-tabs .close:focus, .nav-tabs .close:hover {
  background: #b5b5b5;
  color: #f2f2f2;
}

.tab-content,
.ui-tabs-panel {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #F5F5F5;
  border: 1px solid #DFDFDF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.section-fields h2 {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 3px;
}
.section-fields .control-group {
  border: 1px solid #DFDFDF;
  padding: 5px;
  background: white;
  display: inline-block;
  float: left;
  margin-left: 10px;
}
.section-fields label {
  font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
  font-size: 15px;
  padding: 5px;
  display: block;
}

.wp-editor-container {
  background: white;
}

#poststuff .postarea {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
